# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/flutter_sdk
.fvm/versions/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Frontend (React MVP)
Frontend/node_modules/
Frontend/dist/
Frontend/.vite/
